.searchBar {
  padding: 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.searchForm {
  position: relative;
  width: 100%;
  max-width: 500px;

  display: flex;
  align-items: center;

  font-size: 16px;

  overflow: hidden;
}

.searchInput {
  display: inline-block;
  padding-left: 16px;
  padding-right: 76px;
  width: 100%;
  height: 100%;

  border: 1px solid rgb(238, 238, 238);
  background-color: rgb(238, 238, 238);
  border-radius: 24px;
  outline: none;
}

.searchInput:focus {
  background-color: transparent;
}

.searchBtn {
  padding: 5px 10px;
  position: absolute;
  right: 0;

  background: none;
  border: none;
  color: rgb(108, 102, 102);
  background-color: rgb(212, 211, 211);
  border-radius: 24px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.searchBtn:hover,
.searchBtn:focus {
  color: rgb(0, 0, 0);
  background-color: rgb(225, 225, 225);
}

.homeLink {
  margin-right: 60px;

  @media screen and (max-width: 475px) {
    margin-right: 15px;
  }
}
